:root{  
  --bg-main: #113149;  
  --bg-main2: #C6A85A;  
  --bg-main3: #707070; 
}
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 

.home {
  height: 100vh;
  position: relative;
}
video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mute-video{
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 10;
  color: #fff;
  cursor: pointer;
}
.select1 .container{
  position: relative;
  z-index: 10; 
  padding-top: 50px;
}
.select1 .container .logo{  
  display: block;
  margin: auto; 
  width: 150px;
  height: 150px;
}
.select1 .nextx{  
  position: absolute;
  bottom: 50px;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 100%;
  z-index: 10;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  transition: .33s all ease-in-out; 
  box-shadow: 0px 3px 6px #00000029;
}
.select1 .nextx:hover{   
  width: 80px;
  height: 80px; 
  background-color: rgba(255, 255, 255, .31);
}
.select1 .nextx span{   
  color: #fff;
  font-size: 44px;
  transition: .33s all ease-in-out; 
}
.select1 .nextx:hover span{   
  font-size: 60px;
}
.lang{
  position: absolute;
  right: 0;
  top: 50px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}
.lang .active{
  font-weight: 700;
}
.sec2{
  height: 100vh;
  background: url(../images/s21.png);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  transition: .33s all ease-out; 
}
.sec2:hover{ 
  background: url(../images/s22.png); 
}
.sec2 .div-flex{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec2 .div-flex h1{
  color: #fff;
  font-size: 150px;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  letter-spacing: 0px; 
  transition: .33s all ease-out;
}
.sec2 .div-flex h1 span{
  font-weight: 500;
  letter-spacing: 19.5px; 
}
.sec2 .div-flex:hover h1{ 
  letter-spacing: 15px; 
}
svg {
  fill: currentColor;
  height: auto;
  max-width: 100%;
  width: 25%;
  transform-origin: center; 
  position: absolute;
  right: 5%;
  transform: rotate(48deg);
  transition: .33s all ease-out; 
}
textPath{ 
  font-weight: 500;
  color: #fff;
  font-size: 10px;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
} 
.select3{
  min-height: 100vh;
  background: url(../images/s3.png) , var(--bg-main);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  padding-top: 85px;
  padding-bottom: 85px;
}
.div-flex:hover svg{
  transform: rotate(80deg); 
}   
.select3 h1{
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  line-height: 75px;
  margin-bottom: 10px;
}
.select3 h3{
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  font-family: 'Cormorant Garamond', serif; 
  text-align: center;
  line-height: 50px;
  margin-bottom: 50px;
}
.formx form{
  max-width: 690px;
  display: block;
  margin: auto; 
  font-family: 'Kanit', sans-serif;
}

.formx form label{ 
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.formx form .form-control{
  background-color: transparent; 
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #fff;
  padding-left: 0px; 
  height: 35px;
}
.formx form .form-control:focus{ 
  outline: none;
  border: none; 
  box-shadow: none;
  border-bottom: 1px solid #fff;
}
select{
  background-color: rgba(255, 255, 255, .8) !important; 
} 
select option{
  background-color: rgba(255, 255, 255, .8) !important;
  color: var(--bg-main);
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
}
.form-check-input[type=checkbox] {
  border-radius: 0px;
}
.form-check-input:checked {
  background-color: var(--bg-main);
  border-color: #fff;
}
.form-check-input:checked[type=checkbox] {
  --bs-form-check-bg-image: var(--bg-main);
}
form .btn{
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  color: var(--bg-main);
  width: 230px;
  height: 50px;
  background-color: #fff;
  border-radius: 0px;
  font-weight: 500;
  transition: .33s all ease-out; 
}
form .btn:hover{
  box-shadow: 0px 0px 10px #FFFFFF;
  letter-spacing: 1.8px;
  background-color: #fff !important; 
}
footer .bot{
  height: 50px;
  background-color: #fff;
  padding-top: 12px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  color: var(--bg-main);
  font-family: 'Kanit', sans-serif;
}
footer .top{
  min-height: 450px;
  background: url(../images/linef.png) , var(--bg-main);
  background-position: right center !important;
  background-repeat: no-repeat !important;
  background-size: auto 150%  !important;
  font-family: 'Kanit', sans-serif;
}
footer .top .logox{
  /* width: 375px;
  height: 375px;  */
} 
footer .top h3{
  font-size: 22px;
  color: #fff;
  margin-top: 150px;
  margin-bottom: 20px;
} 
footer .top h5{
  font-size: 18px;
  color: #fff; 
  margin-bottom: 20px;
  position: relative;
  padding-left: 40px;
  line-height: 27px;
}
footer .top .linkx{
  font-size: 18px;
  color: #fff; 
  margin-bottom: 20px;
  display: block;
  position: relative;
  padding-left: 40px;
  line-height: 27px;
}
footer .top h5 img{
  position: absolute;
  left: 0;
  width: 20px;
  height: auto;
  top: 6px;
}
footer .top .linkx img{
  position: absolute;
  left: 0;
  width: 20px;
  height: auto;
  top: 6px;
}
.qr{
  margin-top: 200px;
}
.qr p{
  margin-top: 10px;
  font-size: 18px;
  color: #fff; 
  text-align: center;
}
.qr p img{
  width: 20px;
  height: auto;
  margin-right: 5px;
}


/*
transition: .33s all ease-out; 
font-family: 'Kanit', sans-serif;
font-family: 'Cormorant Garamond', serif; 
###################################################################################################### 
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }    
  .nextx{
    display: none !important; 
  }
  .select1 { 
    height: 250px;
  }
  .home {
    height: 250px;
    position: relative;
  }
  .select1 .container { 
    padding-top: 30px;
  }
  video {
    position: absolute;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .select1 .container .logo{
    width: 60px;
    height: 60px;
  }
  .lang {
    position: absolute;
    right: 15px; 
  }  
  .sec2 { 
    height: 250px;
    background-size: auto 100%  !important;
  }
  .sec2 .div-flex {
    height: 250px;
  }
  .sec2 .div-flex h1 { 
    font-size: 40px; 
  }
  .select3 { 
    height: 100%;
    background-size: auto 100%  !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sec2 .div-flex h1 span {
    font-weight: 500;
    letter-spacing: 7.5px;
  }
  .sec2 .div-flex:hover h1{ 
    letter-spacing: 7.5px; 
  }
  .select3 h1 {
    font-size: 24px; 
    line-height: 20px;
    margin-bottom: 10px;
  }
  .select3 h3 {
    font-size: 20px; 
    line-height: 20px;
    margin-bottom: 20px;
  }
  .formx{
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .top .logox {
    height: 174px;
    width: 174px;
  }
  footer .top h3 {
    font-size: 22px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  footer .top h5 {
    text-align: center;
    padding-left: 0px;
  }
  footer .top h5 img{
    position: relative;
    top: 0px;
    margin-right: 4px;
  }
  footer .top .linkx {
    text-align: center;
    padding-left: 0px;
  }
  footer .top .linkx img{
    position: relative;
    top: 0px;
    margin-right: 4px;
  }
  .qr {
    margin-top: 20px;
  }
}
@media only screen and (width: 1024px) { /* iPadPro */ 
  .sec2 { 
    height: 450px;
    background-size:  100% auto !important;
  }
  .sec2 .div-flex {
    height: 450px;
  }
  .sec2 .div-flex h1 {
    font-size: 100px;
  }
  .select1 { 
    height: 450px;
  }
  .home {
    height: 450px;
    position: relative;
  }
  .select1 .container { 
    padding-top: 30px;
  }
  video {
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  .select3{
    min-height: unset !important;  
  }
}    
@media only screen and (width: 768px) { /* iPad */ 
  .sec2 { 
    height: 450px;
    background-size:  auto 100%  !important;
  }
  .sec2 .div-flex {
    height: 450px;
  }
  .sec2 .div-flex h1 {
    font-size: 100px;
  }
  .select1 { 
    height: 450px;
  }
  .home {
    height: 450px;
    position: relative;
  }
  .select1 .container { 
    padding-top: 30px;
  }
  video {
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  .select3{
    min-height: unset !important;  
  }
}    
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }   
}    


.select2-container--bootstrap-5 .select2-selection{ 
  background-color: transparent;
  border-bottom: 1px solid #fff !important;
  border-radius: 0px;

}
.select2-hidden-accessible{ 
  background-color: transparent;
  border-bottom: 1px solid #fff !important;
  border-radius: 0px;

}
.form-select + .select2{
  width: 100% !important;
}
.select2-container--default .select2-selection--single { 
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #fff !important;
  background-color: transparent;
  border-radius: 0px !important; 
} 

.select2-container .select2-selection--single {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff !important;
  border-radius: 0px !important; 
  padding-left: 0px;
}

.select2-container--default .select2-selection--single:focus{ 
  border: 1px solid var(--bg-main);
} 
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400; 
  font-family: 'Kanit', sans-serif;
}
.select2-selection__rendered {
  color: #fff; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400; 
  font-family: 'Kanit', sans-serif;
}
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
  color: #fff; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400; 
  font-family: 'Kanit', sans-serif;
}
.select2-container .select2-selection--single {
  height: 38px !important; 
  border-radius: 4px;
}
.select2-selection__arrow {
  height: 38px !important; 
  border-radius: 4px;
}
.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
  border-color: none;
  box-shadow: none;
}
.select2-container--bootstrap-5 .select2-selection--single { 
  background-image: url(../images/keyboard_arrow_down.svg); 
  background-size: 26px 22px;
}
.select2-dropdown{
  background-color: rgba(255, 255, 255, .8) !important;
  border-radius: 0px;
}
.select2-container--bootstrap-5 .select2-dropdown.select2-dropdown--below{
  border-radius: 0px;
  border: none !important;
}
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
  color: var(--bg-main2);
  background-color: #fff;
}
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
  border-color: none;
  box-shadow: none;
}