:root{  
  --bg-main: #113149;  
  --bg-main2: #C6A85A;  
  --bg-main3: #707070; 
}
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 

.home {
  height: 100vh;
  position: relative;
}
video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-sound span{ 
  z-index: 10;
  color: rgba(0, 0, 0, .65);
  cursor: pointer;
}
.select1 .container{
  position: relative;
  z-index: 10; 
  padding-top: 50px;
}
.select1 .container .logo{  
  display: block;
  margin: auto; 
  width: 150px;
  height: 150px;
}
.box-sound{
  position: absolute;
  right: 50px;
  bottom: 130px;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-sound.pausex{ 
  bottom: 50px; 
}
.nextx{  
  position: absolute;
  bottom: 50px;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 100%;
  z-index: 12;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  transition: .33s all ease-in-out; 
  box-shadow: 0px 3px 6px #00000029;
}
.nextx:hover{   
  width: 80px;
  height: 80px; 
  background-color: rgba(255, 255, 255, .31);
}
.nextx span{   
  color: #fff;
  font-size: 44px;
  transition: .33s all ease-in-out; 
  animation: bounce 1s ease infinite;
}
.nextx:hover span{   
  font-size: 60px;
}

@keyframes bounce {
  50% {
    transform: translateY(10%);
  }
}
.lang{
  position: absolute;
  right: 0;
  top: 50px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
  font-weight: 300;
}
.lang .active{
  font-weight: 500;
}
.sec2{
  height: 100vh;
  background: url(../images/s21.png);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  transition: .33s all ease-out; 
}
.sec2:hover{ 
  background: url(../images/s21.png);
  background-size: 105% auto !important;
}
.sec2 .div-flex{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec2 .div-flex h1{
  color: #fff;
  font-size: 150px;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  letter-spacing: 0px; 
  transition: .33s all ease-out;
}
.sec2 .div-flex h1 span{
  font-weight: 500;
  letter-spacing: 19.5px; 
}
.sec2 .div-flex:hover h1{ 
  letter-spacing: 15px; 
}
svg {
  fill: currentColor;
  height: auto;
  max-width: 100%;
  width: 25%;
  transform-origin: center; 
  position: absolute;
  right: 5%;
  transform: rotate(48deg);
  transition: .33s all ease-out; 
}
textPath{ 
  font-weight: 500;
  color: #fff;
  font-size: 10px;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
} 
.select3{
  min-height: 100vh;
  background: url(../images/s3.png) , var(--bg-main);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  padding-top: 85px;
  padding-bottom: 85px;
}
.div-flex:hover svg{
  transform: rotate(80deg); 
}   
.select3 h1{
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  line-height: 75px;
  margin-bottom: 10px;
}
.select3 h3{
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  font-family: 'Cormorant Garamond', serif; 
  text-align: center;
  line-height: 50px;
  margin-bottom: 50px;
}
.formx form{
  max-width: 690px;
  display: block;
  margin: auto; 
  font-family: 'Kanit', sans-serif;
}

.formx form label{ 
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.formx form .form-control{
  background-color: transparent; 
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #fff;
  padding-left: 0px; 
  height: 35px;
}
.formx form .form-control:focus{ 
  outline: none;
  border: none; 
  box-shadow: none;
  border-bottom: 1px solid #fff;
}
select{
  background-color: rgba(255, 255, 255, .8) !important; 
} 
select option{
  background-color: rgba(255, 255, 255, .8) !important;
  color: var(--bg-main);
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
}
.form-check-input[type=checkbox] {
  border-radius: 0px;
  margin-right: 20px;
}
.form-check-input:checked {
  background-color: var(--bg-main);
  border-color: #fff;
}
.form-check-input:checked[type=checkbox] {
  --bs-form-check-bg-image: var(--bg-main);
}
form .btn{
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  color: var(--bg-main);
  width: 230px;
  height: 50px;
  background-color: #fff;
  border-radius: 0px;
  font-weight: 500;
  transition: .33s all ease-out; 
  text-transform: uppercase;
  margin-top: 30px;
}
form .btn:hover{
  box-shadow: 0px 0px 10px #FFFFFF;
  letter-spacing: 1.8px;
  background-color: #fff !important; 
} 
footer .bot{
  height: 50px;
  background-color: #fff;
  padding-top: 12px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: var(--bg-main);
  font-family: 'Kanit', sans-serif;
}
footer .bot a{  
  color: var(--bg-main); 
  text-decoration: underline !important;
}
footer .top{
  min-height: 450px;
  background: url(../images/linef.png) , var(--bg-main);
  background-position: right center !important;
  background-repeat: no-repeat !important;
  background-size: auto 150%  !important;
  font-family: 'Kanit', sans-serif;
}
footer .top .logox{
  /* width: 375px;
  height: 375px;  */
} 
footer .top h3{
  font-size: 22px;
  color: #fff;
  margin-top: 150px;
  margin-bottom: 20px;
  font-weight: 400;
} 
footer .top h5{
  font-size: 20px;
  color: #fff; 
  margin-bottom: 20px;
  position: relative;
  padding-left: 40px;
  line-height: 27px;
  font-weight: 300;
}
footer .top .linkx{
  font-size: 20px;
  color: #fff; 
  margin-bottom: 20px;
  display: block;
  position: relative;
  padding-left: 40px;
  line-height: 27px;
  font-weight: 300;
}
footer .top h5 img{
  position: absolute;
  left: 0;
  width: 20px;
  height: auto;
  top: 6px;
}
footer .top .linkx img{
  position: absolute;
  left: 0;
  width: 20px;
  height: auto;
  top: 6px;
}
.qr{
  margin-top: 200px;
}
.qr p{
  margin-top: 10px;
  font-size: 18px;
  color: #fff; 
  text-align: center;
}
.qr p img{
  width: 20px;
  height: auto;
  margin-right: 5px;
}
.datepicker {
  background-color: rgba(255, 255, 255, .8);
  font-family: 'Kanit', sans-serif;
  width: 335px;
}
.datepicker .table-condensed{
  width: 100%; 
}
.datepicker .day{
  padding: 11px 9px !important;
  border-radius: 100%;
}
.datepicker .day:hover{
  background: var(--bg-main) !important;
  color: #fff !important;
}
.datepicker .active.day{
  background: var(--bg-main) !important;
  color: #fff !important;
}
.datepicker .today.day{
  background: var(--bg-main2) !important;
  color: #fff !important;
}
.section4{ 
  background: #113149;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  padding-top: 50px; 
  position: relative;
  transition: 2s all ease-out; 
  height: calc(100vh + 50px);
  padding-bottom: 50px;
  overflow: hidden;
  z-index: 1;
}
.section4 .img-pala{ 
  background-image: url(../images/anirudh-YQYacLW8o2U-unsplash-3.png); 
  height: calc(100vh + 50px);  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  100% auto;
  z-index: 3;
  transition: 2s all ease-out; 
}
.section4 .container-fluid{
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 11;
} 

.section4:hover .img-pala{ 
  background-size: 115% auto !important; 
}
.section4::after{
  content: "";
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%;
  height: 719px; 
  background: transparent linear-gradient(180deg, var(--unnamed-color-113149) 0%, #113149E6 34%, #11314900 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #113149 0%, #113149E6 34%, #11314900 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 4;
}
.section4 > div{ 
  position: relative;
  z-index: 11;
}
.section4 h2{ 
  color: #fff;
  text-align: center; 
  opacity: 1;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Kanit', sans-serif;
  margin-bottom: 50px; 
}
.section4 h2 span{  
  font-size: 40px; 
} 
.section4 h1{   
  color: #fff; 
  opacity: 1;
  font-size: 130px;
  font-weight: 100;
  font-family: 'Kanit', sans-serif;
  margin-bottom: 50px;
  transition: .33s all ease-out; 
  margin-bottom: 30px;
  line-height: 120px;
} 
.section4 h1 span{  
  font-weight: 500;
  color: #C6A85A;
}
.section4 h1 i{  
  font-style: normal;
  transition: .33s all ease-out; 
}
.section4 h1:hover i{  
  letter-spacing: 15px;
}
.section4 p{  
  font-family: 'Kanit', sans-serif;
  border-left: 3px solid #fff;
  height: 250px;
  padding: 30px 60px;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
 


/*
transition: .33s all ease-out; 
font-family: 'Kanit', sans-serif;
font-family: 'Cormorant Garamond', serif; 
###################################################################################################### 
*/ 

@media only screen and (width: 1024px) { /* iPadPro */ 
  .sec2 { 
    height: 450px;
    background-size:  100% auto !important;
  }
  .sec2 .div-flex {
    height: 450px;
  }
  .sec2 .div-flex h1 {
    font-size: 100px;
  }
  .select1 { 
    height: 450px;
  }
  .home {
    height: 450px;
    position: relative;
  }
  .select1 .container { 
    padding-top: 30px;
  }
  video {
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  .select3{
    min-height: unset !important;  
  }
}    
@media only screen and (width: 768px) { /* iPad */ 
  .sec2 { 
    height: 450px;
    background-size:  auto 100%  !important;
  }
  .sec2 .div-flex {
    height: 450px;
  }
  .sec2 .div-flex h1 {
    font-size: 100px;
  }
  .select1 { 
    height: 450px;
  }
  .home {
    height: 450px;
    position: relative;
  }
  .select1 .container { 
    padding-top: 30px;
  }
  video {
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  .select3{
    min-height: unset !important;  
  }
}    


@media screen and (max-width: 1024px) and (min-width: 768px) {
  .sec2 { 
    height: 450px;
    background-size:  auto 100%  !important;
  }
  .sec2 .div-flex {
    height: 450px;
  }
  .sec2 .div-flex h1 {
    font-size: 100px;
  }
  .select1 { 
    height: 450px;
  }
  .home {
    height: 450px;
    position: relative;
  }
  .select1 .container { 
    padding-top: 30px;
  }
  video {
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  .select3{
    min-height: unset !important;  
  }
}    

 
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }   
}   
@media only screen and (width: 820px) { /* iPad Air */ 
  .sec2 { 
    height: 450px;
    background-size: 100% auto !important;
  } 
  .section4{  
    background: #113149;
    background-position: center center !important; 
    background-size:  100% auto  !important; 
    height: 450px; 
  } 
  .section4:hover{ 
    background-size: 115%  auto  !important; 
  } 
  .section4 .img-pala{  
    height: calc(450px + 50px);    
  }
}    

@media screen and (max-width: 1600px) and (min-width: 821px) {
  .sec2 {  
    background-size:   100% auto !important;
  } 
  .select3 {  
    background-size: auto 100%  !important; 
  }
}   
@media screen and (max-width: 1600px) and (min-width: 1025px) {
  .sec2{  
    background-size: auto  100%  !important;
  } 
  .sec2:hover{  
    background-size: auto  105%  !important;
  } 
  .sec2 .div-flex h1 { 
    font-size: 100px; 
  }
}  
@media screen and (max-width: 1025px) and (min-width: 769px) { 
  .select3 {  
    background-size: auto 100%  !important; 
  }
  .section4{  
    background:  #113149;
    background-position: top center !important; 
    background-size: auto 100% !important; 
    height: 90vh;
  } 
  .section4:hover{ 
    background-size: auto 115%   !important;  
  }
  .section4 .img-pala{  
    height: calc(90vh );    
    background-size:  100% auto !important;  
    padding-bottom: 0px;
  } 
  
}  

@media only screen and (width: 768px) {  
  .section4{   
    height: 750px !important;
  } 
  .section4 .img-pala{  
    height: calc(750px ) !important;     
  }   
}
@media only screen and (width: 1024px) {  
  .section4{   
    height: 950px !important;
  } 
  .section4 .img-pala{  
    height: calc(950px ) !important;     
  }   
}

@media only screen and (max-width: 768px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }    
  .nextx{
    display: none !important; 
  }
  .select1 { 
    height: 450px;
  }
  .home {
    height: 450px;
    position: relative;
  }
  .select1 .container { 
    padding-top: 30px;
  }
  video {
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  .select1 .container .logo{
    width: 60px;
    height: 60px;
  }
  .lang {
    position: absolute;
    right: 15px; 
  }  
  .sec2 { 
    height: 350px;
    background-size:  100% auto  !important;
  }
  .sec2 .div-flex {
    height: 350px;
  }
  .sec2 .div-flex h1 { 
    font-size: 40px; 
  }
  .select3 { 
    height: 100%;
    background-size: auto 100%  !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sec2 .div-flex h1 span {
    font-weight: 500;
    letter-spacing: 7.5px;
  }
  .sec2 .div-flex:hover h1{ 
    letter-spacing: 7.5px; 
  }
  .select3 h1 {
    font-size: 24px; 
    line-height: 20px;
    margin-bottom: 10px;
  }
  .select3 h3 {
    font-size: 20px; 
    line-height: 20px;
    margin-bottom: 50px;
  }
  .formx{
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .top .logox {
    height: 174px;
    width: 174px;
  }
  footer .top h3 {
    font-size: 22px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  } 
  footer .top h5 img{
    margin-left: 10px;
  }
  footer .top .linkx {
    text-align: center;
    padding-left: 0px;
  }
  footer .top .linkx img{
    position: relative;
    top: 0px;
    margin-right: 4px;
  }
  .qr {
    margin-top: 20px;
  }
  .box-sound{
    position: absolute;
    right: 20px;
    bottom: 90px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-sound.pausex{ 
    bottom: 30px; 
  }
  footer .top{ 
    background-position: bottom -200px  center !important;
    background-repeat: no-repeat !important;
    background-size:  150%  auto !important; 
  } 
  .section4 .img-pala{  
    height: unset;    
  }
  .section4:hover{ 
    background-size: 115%  auto  !important; 
  }
  .section4 h1:hover i{  
    letter-spacing: 8px;
  }
  .section4::after{ 
    height: 352px;  
  }  
  .section4 h2{  
    font-size: 22px; 
  }
  .section4 h2 span{  
    font-size: 16px; 
  } 
  .section4 h1{  
    font-size: 74px; 
    line-height: 65px;
  } 
  .section4 p{ 
    margin-left: 0px;
    padding: 15px 20px;
    font-size: 18px;
  }  
  .section4{  
    background: #113149;
    background-position: top center !important; 
    background-size: auto 100% !important;  
    height: 650px;
    overflow: hidden;
    padding-bottom: 0px !important;
  }  
  .section4 .img-pala{  
    height: calc(650px + 100px);    
    background-size:  100% auto !important;  
    padding-bottom: 0px;
  } 
}



@media only screen and (max-width: 638px) { /* MOBILE */ 
  .sec2 {  
    background-size: auto 100%  !important; 
  } 
  .section4 .img-pala{  
    height: calc(650px + 100px);    
    background-size: auto 100% !important;  
    padding-bottom: 0px;
  } 
}



.hids .select2-search__field{
  display: none !important;
}
.select2-container--bootstrap-5 .select2-selection{ 
  background-color: transparent;
  border-bottom: 1px solid #fff !important;
  border-radius: 0px;

}
.select2-hidden-accessible{ 
  background-color: transparent;
  border-bottom: 1px solid #fff !important;
  border-radius: 0px;

}
.select2-selection__placeholder{
  color: #fff !important; 
  font-size: 16px;

}
.form-select + .select2{
  width: 100% !important;
}
.select2-container--default .select2-selection--single { 
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #fff !important;
  background-color: transparent;
  border-radius: 0px !important; 
} 

.select2-container .select2-selection--single {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff !important;
  border-radius: 0px !important; 
  padding-left: 0px;
}

.select2-container--default .select2-selection--single:focus{ 
  border: 1px solid var(--bg-main);
} 
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400; 
  font-family: 'Kanit', sans-serif;
}
.select2-selection__rendered {
  color: #fff; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400; 
  font-family: 'Kanit', sans-serif;
}
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
  color: #fff; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400; 
  font-family: 'Kanit', sans-serif;
}
.select2-container .select2-selection--single {
  height: 38px !important; 
  border-radius: 4px;
}
.select2-selection__arrow {
  height: 38px !important; 
  border-radius: 4px;
}
.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
  border-color: none;
  box-shadow: none;
}
.select2-container--bootstrap-5 .select2-selection--single { 
  background-image: url(../images/keyboard_arrow_down.svg); 
  background-size: 26px 22px;
  background-position: center right -5px;
}
.select2-dropdown{
  background-color: rgba(255, 255, 255, .8) !important;
  border-radius: 0px;
}
.select2-container--bootstrap-5 .select2-dropdown.select2-dropdown--below{
  border-radius: 0px;
  border: none !important;
}
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
  color: var(--bg-main2);
  background-color: #fff;
}
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
  border-color: none;
  box-shadow: none;
}
 
.select2-results__options::-webkit-scrollbar {
  width: 8px;
} 
.select2-results__options::-webkit-scrollbar-track {
  background: #f1f1f1; 
} 
.select2-results__options::-webkit-scrollbar-thumb {
  background: #113149; 
} 
.select2-results__options::-webkit-scrollbar-thumb:hover {
  background: #707070; 
}